.selectStyle {
  width: 90%;
  justify-content: center;
  display: flex;
}

.optionListContainer {
  background: black;
}
.vertical-center {
  min-height: 80%; /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: grid;
  align-items: center;
}
.buttonStyle {
  background: black;
}
.MuiButton-containedSecondary {
  color: #fff;
  background-color: black;
}
