.mcq-component {
  border: 1px solid transparent;
  // margin-top: 10%;

  // margin-right:10%;
  margin: auto;
  margin-top: 5%;
  // padding-top: 2%;
  padding-bottom: 1%;
  font-size: 33px;
  font-family: cursive;
  background-color: #b7a4fa3f;
  margin-right: 12%;
}
#standard-read-only-input-label {
  color: white;
  font-size: 30px;
  font-family: serif;
  padding-bottom: 10px;
}

input.answer {
  background-color: transparent;
  color: white;
}
element.style {
  background-color: transparent;
}
.questionStyling {
  background: #b7a4fa3f;
  padding-bottom: 5%;
  padding-top: 1%;
}
.Leftspace {
  margin-left: 8%;
}
@media only screen and (max-width: 600px) {
  .mcq-component {
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
  }
}
