.login {
  width: 60%;
  margin: 9% auto;
  padding: 3%;
  background-color: #b7a4fa3f;
  border-radius: 2%;
}
.login button {
  background-color: #15152d;
  transform: scale(1.1);
  border: none;
}

.login button:hover {
  background-color: #15152d;

  transform: scale(1.15);
}

.login img {
  margin: 10% 10% 0%;
}
// .login h2{
//     margin-bottom: 4%;
// }
#demo-simple-select-required-label {
  color: rgb(255, 255, 255);
  background: "white";
}
#demo-simple-select-required {
  background: white;
  border: none;
  border-radius: 2%;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: 5%;
  width: 280px;
}
@media screen and(max-width:500px) {
  .login {
    width: 90%;
  }
  #demo-simple-select-required {
    width: 200px;
  }
}
